@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --contactBlue: #002466;
  --originBlur: rgb(21 23 24 / 0.9);
  --originBlurry: rgb(21 23 24 / 0.2);
  --originGray: #151718;
  --opacityBlue: rgb(0 36 102 / 80%);
  --lightBlue: #ade8f4;
  --blue: blue;
  --blurBlue: rgb(0 0 255 / 0.1);
  --gray: rgb(21 23 24 / 81%);
}
/* ::selection{
  background: var(--originBlurry);
  color: var(--blue);
} */
html {
  scroll-behavior: smooth;
}

body {
  transition: all 0.2s ease-in;
  background-color: rgb(242, 242, 242);
  background-image: url(/images/cubes.png);
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

/* utility */
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  color: #151718;
}

button {
  transition: 0.2s background-color ease;
}
li {
  list-style: none;
}

button:hover {
  background-color: var(--originGray);
  color: white;
}

img {
  max-width: 100%;
}

.container {
  position: relative;
  z-index: 1000;
  margin: 0 auto;
}

section {
  padding: 1.3em;
  padding-left: 1.5em;
  margin-bottom: 4%;
  overflow: hidden;
  transition: all 0.4s linear;
  opacity: 0;
  transform: translateY(50px);
  position: relative;
  z-index: -1;
}
.margin {
  margin: 2em auto !important;
}
.view {
  transform: translateY(0px);
  opacity: 1;
}

.top {
  text-align: center;
  display: flex;
  align-items: center;
  background: var(--blurBlue);
  border-radius: 30px;
  width: fit-content;
  padding: 0.1em 1em;
  color: var(--contactBlue);
  font-weight: 500;
  box-shadow: 0px 0px 2px 0px gray;
  margin-bottom: 10px;
}

.bullet {
  border-radius: 10px !important;
  padding: 1em 1.2em !important;
}
.bullet::before,
.bullet::after {
  content: " ";
  display: none !important;
  height: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  padding: 2px;
}

.bullet::before {
  margin-right: 10px;
}
.bullet::after {
  margin-left: 10px;
}

.point::before,
.point::after {
  content: " ";
  height: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  padding: 2px;
}

.point::before {
  margin-right: 10px;
}
.point::after {
  margin-left: 10px;
}

/* utility */
a,
button {
  text-decoration: none;
  color: white;
  cursor: pointer;
  border: none;
}

.bars {
  cursor: pointer;
  display: none;
}

/* overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000007d;

  visibility: hidden;
  transition: visibility 0.2s ease-in;
  cursor: url(/images/icons/cancel.svg), auto;
}

/* Dark Mode */
.dark {
  background-color: black;
  background-image: url(/images/assault.png);

  .nav:first-child {
    border-color: white;
  }
  .nav:first-child:hover {
    background-color: #0077b6;
    border-color: #001f9a;
  }
  .navBar {
    border-bottom-color: #002333;
    background: linear-gradient(to right, #1f1f1f7b, #000f1a88);
  }
  .nav-items {
    background-color: var(--contactBlue);
  }

  .nav-link {
    color: #e0e0e0;
  }

  .logoContainer > * {
    color: #caf0f8;
  }

  .nav-link:hover {
    color: white;
  }
  .nav-link:hover::before {
    background-color: white;
  }
  .top::after,
  .top::before {
    background-color: #ffffff;
  }

  .contact {
    border-color: white;
  }
  /* Header */

  .head-container > .top {
    background-color: var(--originGray);
  }

  .h1Text {
    color: hsl(0 0% 100% /0.95) !important;
  }

  /* About section dark mode */

  #about {
    background: linear-gradient(to right, #1b1b1b48, transparent);

    .aboutText {
      color: white;
    }
  }
  .about {
    color: #ade8f4;
  }

  div.top {
    background: none !important;

    .count {
      opacity: 0.87;
      color: white;
    }
  }

  .top {
    color: white !important;
    background: var(--originGray);
  }

  .counter {
    color: var(--lightBlue);
  }

  /* CEO */
  #CEO {
    background: linear-gradient(
      17deg,
      hwb(0 100% 0% / 0.3) 50%,
      transparent 50%
    );
  }
  .ceoH1 {
    color: var(--lightBlue);
  }
  .ceo-container p {
    color: hsl(0 0% 100% / 0.96);
  }

  /* Services */
  .arrow {
    background-image: url(/images/curved-arrow-white.svg);
  }

  .skills {
    border: 1px solid #d3d3d382;
    background-color: #caf0f81a;
    .skillText {
      color: #ade8f4;
    }
  }
  .skillTextWrap > .text {
    text-align: center;
    color: hsl(0 0% 100% / 0.8);
  }

  /* Staffs */

  .staff {
    background-color: #31313177;
    border-color: white;
  }

  .staffImg > img {
    border: 3px solid hsl(0 0% 100% / 0.8);
  }

  .staffName {
    color: var(--lightBlue);
  }

  .staffText {
    color: rgba(255, 255, 255, 0.9);
  }

  .staffPosition {
    color: whitesmoke;
    opacity: 0.8;
  }

  a[href="/teams"] {
    .contact::after,
    .contact::before {
      background-color: #000;
    }
  }

  .staffMore {
    background-color: white !important;
    color: black;
  }

  /* What's More */

  .whatsNewContainer {
    background-color: #111111;
    border-color: hsla(0, 0%, 100%, 0.829);
  }

  .whatsNewH1 {
    color: var(--lightBlue);
  }

  .category {
    color: var(--lightBlue);
  }

  .whatsNewTextCon > div > * {
    color: white;
  }

  .whatsNewDate {
    color: white;
  }
  .whatsNewHeaderText {
    color: white;
  }

  .linkButton,
  .linkButton:hover {
    color: white;
  }
  .linkButton::before {
    background-color: var(--lightBlue);
    opacity: 0.8;
  }

  /* Reviews */
  #reviews {
    background-image: none;
  }
  .reviewCard {
    background-color: #2f415430;
    outline: 1px solid #a4a4a4;

    .reviewText {
      color: white;
      opacity: 0.8.5;
    }

    .reviewer {
      color: #caf0f8;
    }
    b {
      color: white;
    }
  }

  /* Contact */
  #contact {
    background: linear-gradient(to right, #1c1d1dd6, #101010);
    border-top: 0.2px solid #001233;
  }

  .touchWrap {
    background: #0c0c0c;
    border-color: white;

    h1 {
      color: #ade8f4;
    }
  }

  .contactForm {
    label {
      color: rgb(201, 201, 201);
    }

    button {
      background-color: #ade8f4;
      color: #001233;
      border-color: #000000;
    }
    .contact::before,
    .contact::after {
      background-color: black;
    }
  }
  .formInput,
  .contactTextArea {
    background-color: rgb(33, 33, 33);
    border-color: var(--blurBlue) !important;
    color: rgb(215, 215, 215);
  }

  .formInput::placeholder,
  .contactTextArea::placeholder {
    color: rgb(215, 215, 215);
  }

  .contactHead {
    color: #0096c7;
  }

  .info {
    border-color: rgb(197, 197, 197);

    .con {
      color: #caf0f8;
    }
  }

  /* Footer */

  #footer {
    background: linear-gradient(to left, rgb(0 0 0 / 38%), transparent);

    .location {
      color: #caf0f8;
    }

    b {
      color: white;
    }
    .workHours > p {
      color: rgba(255, 255, 255, 0.776);
    }

    .footHead {
      color: #a0c9f5;
    }

    .footer-link,
    .svg {
      fill: white;
      color: white;
    }

    .footer-link::before {
      background-color: #ffffff;
    }

    .svg:hover,
    .footer-link:hover {
      fill: #2672ff;
      color: #ade8f4;
    }

    .work {
      color: #bdddfe;
    }
  }

  /* Graphics Page */

  .designH1,
  .graphicAboutText {
    color: #fcfcfc;
  }

  .design-container {
    .comName {
      color: #19a4ef;
    }

    h3 {
      background: linear-gradient(to right, #ade8f4, red);
      background-clip: text;
    }
    h4 {
      font-size: larger;
    }
  }

  .graphicAboutHeader {
    color: #ade8f4;

    .comName {
      color: #19a4ef;
    }
  }

  #graphicSkills {
    background: linear-gradient(to right, #23232381, transparent);
  }

  .designSkill {
    background-color: rgb(42, 42, 42);
    border: 1px solid #ade8f4;
  }
  .designSkillText > .text {
    color: rgba(255, 255, 255, 0.756);
  }

  .carouselArrow {
    fill: #ade8f4 !important;
  }

  #graphicRecentProjects {
    .headerSpan {
      color: white;
    }
    h1.point::before::after {
      background-color: var(--blue);
    }
    .top::before,
    .top::after {
      background-color: var(--originGray);
    }
    

    .btn {
      background-color: #0077b6;
      color: white;
    }
  }
  .projectCardHead {
    color: var(--lightBlue);
  }

  .designSkillText {
    .projectCardHead {
      color: #ade8f4;
    }
    .projectText {
      color: white;
    }
  }

  .webHead > div > h1 {
    color: #ade8f4;
  }

  #webServices > .top {
    color: white;
  }

  .webAboutText {
    color: white;
  }

  .webCard {
    background-color: var(--originBlur);
    border-color: #ade8f4;
  }

  .webServiceText {
    .webServiceh2 {
      color: #ade8f4;
    }

    .webText {
      color: rgba(255, 255, 255, 0.89);
    }
  }
  .projectText {
    color: hsla(0, 0%, 100%, 0.829) !important;
  }

  /* 404 Error Page */

  .text404 {
    color: #ade8f4;
  }

  #error > h2 {
    width: 70%;
    margin: 0.5em auto;
    font-size: large;
    color: white;
  }

  /* Scholarships */

  .scholarshipCard {
    background-color: rgb(25, 25, 25);
    border: 1px solid #ffffff6d;
  }

  .scholarCardHeader {
    color: #ade8f4;
  }
  .scholarCardText {
    color: #ffffff;
  }

  /* Research */

  .researchAboutHeader {
    color: var(--lightBlue);
  }

  .researchAboutText {
    color: white;
  }

  .descripHeader {
    color: rgba(255, 255, 255, 0.884);
  }

  /* Nysc */

  .nyscBackgroung {
    opacity: 0.6;
  }

  .nyscHeader {
    .top {
      background-color: var(--originBlur);
    }
  }

  .nyscH1 {
    color: hwb(0 100% 0%/ 0.85);
  }
  .nyscAboutTextCon > h3 {
    color: rgb(0, 80, 241);
  }

  .nyscAboutText {
    color: white;
  }
  .brand {
    background-color: var(--originGray);
    border: 1px solid white;
  }
  .nyscServiceImage {
    background-color: black;
    border: 1px solid white;

    svg {
      fill: var(--lightBlue);
    }
  }
  .bold {
    color: rgb(237, 243, 255);
    opacity: 1;
  }

  .line {
    background-color: var(--lightBlue) !important;
  }
  .state {
    color: white;
    opacity: 0.85;
  }

  @media (min-width: 801px) {
    .nav-items {
      background-color: transparent;
    }
  }
}

/* Nav bar */

.navBar {
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 1.3em;
  padding-top: 1.8em;
  padding-left: 1em;
  align-items: center;
  border-bottom: 1px solid #0040ff;

  .logoContainer {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 1em;
  }

  .navCon {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .nav-items {
    display: flex;
    list-style: none;
    gap: 30px;
    padding-right: 1%;
    cursor: pointer;
    align-items: center;
  }

  a[href="/"] {
    display: flex;
  }

  img {
    height: fit-content;
  }

  .theme {
    cursor: pointer;
    width: 20px;
  }

  .logo {
    height: 50px;
  }
}

.nav:first-child,
.nav:first-child > .nav-link::before {
  border: 1.5px solid midnightblue;
  padding: 5px 20px;
  border-radius: 5px;
  transition: 0.2s background-color ease-in;
  content: none;
}

.nav {
  position: relative;
}

.logo {
  padding-left: 1.2em;
}

.nav-link {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  text-transform: capitalize;
  color: #001233;
  font-size: large;
}
.nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 0%;
  height: 2px;
  background-color: #001233;
  border-radius: 30px;
  transition: 0.3s all linear;
}
.nav-link:hover,
.nav-link:hover::before {
  width: 100%;
  color: #001233;
}

.nav:first-child:hover {
  background-color: var(--blue);
  border-color: var(--blue);

  .nav-link:first-child {
    color: white;
  }
}

/* Header section */

.header {
  display: flex;
  /* gap: 20px; */
  justify-content: space-between;
  align-items: center;
  margin-left: 1.5em;

  .headerIMG {
    width: fit-content;
    height: 450px;
  }

  .top {
    padding: 0.5em 1em;
    background-color: var(--blurBlue);
    color: var(--contactBlue);
  }

  .h1Text {
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 10px 0;
    line-height: 1.5em;
    color: rgb(21 23 24 / 0.9);
  }
}

.head-container > * {
  margin-bottom: 10px;
}

.comName {
  color: var(--blue);
}

.contact {
  padding: 1em;
  color: #fff;
  background: var(--blue);
  border: none;
  border-radius: 5px;
  font-size: medium;
  font-weight: 500;
  margin: 1px auto;
  border: 1px solid black;
}

.contact::after,
.contact::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

/* About section */
#about {
  /* margin-bottom: 0; */
  text-align: center;
  background: linear-gradient(106deg, hsla(0, 0%, 91%, 0.495), transparent);
}

div.top {
  margin: 1px auto;
}
.about {
  font-size: xxx-large;
  padding: 0.2em;
  text-align: center;
  display: flex;
  align-items: flex-start;
  width: fit-content;
  margin: auto;
  gap: 10px;

  span {
    display: flex;
    align-self: center;

    img {
      height: 40px;
      margin-right: 5px;
    }
  }
}

div.top,
div.top > .count {
  font-style: italic;
  border: none;
  background: none !important;
  color: var(--originBlur);
  font-weight: 400;
  font-size: large;
  border-radius: 0;
  box-shadow: none;
}

.counter {
  color: var(--contactBlue);
}

.aboutText {
  font-size: large;
  margin: 10px auto;
  width: 62%;
}

/* CEO Section */

#CEO {
  background: linear-gradient(17deg, var(--blurBlue) 50%, transparent 50%);
}

.ceo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 1em auto;
}
.ceoImg {
  width: 300px;

  img {
    border-radius: 10px;
    width: 100%;
    height: 300px;
    border: 1px solid var(--gray);
  }
}

.ceoH1 {
  margin-bottom: 10px;
  font-size: 3em;
  letter-spacing: 0.4px;
  color: var(--originGray);
}

.ceoText {
  width: 50%;

  p {
    font-size: medium;
    opacity: 0.89;
  }
}

/* Services section*/

.arrow {
  background-image: url(/images/curved-arrow-black.svg);
  background-repeat: no-repeat;
  background-position: left;
  height: 100px;
}

#skill {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.skills {
  width: 300px;
  border-radius: 5px;
  background-color: rgba(236, 236, 236, 0.457);
  transition: all 0.2s ease-out;
  border: 0.5px solid #2d31333b;
  overflow: hidden;
  position: relative;
  /* height: 100%; */
  transition: 0.2s all ease-in;
}

.goToPage {
  transition: 0.4s all ease-in;
  position: absolute;
  opacity: 0;
  top: 18%;
  bottom: 50%;
  background: white;
  border-radius: 50%;
  height: 100px;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid var(--opacityBlue);

  img {
    padding: 1em;
    height: 100%;
  }
}

.skillContainer {
  transition: 0.4s all ease-in;
}

.skills:hover {
  transform: scale(1.01);

  .skillContainer {
    opacity: 0.9;
  }
  .skillIMG > img {
    filter: grayscale(100%) brightness(0.5);
  }

  .goToPage {
    opacity: 1;
  }
}

.skillIMG > img {
  transition: 0.3s all ease-in-out;
  width: 100%;
  height: 200px;
}
.skillTextWrap {
  padding: 1em;

  .text {
    text-align: center;
    color: rgb(47 47 49 / 0.95);
  }
}

.skillText {
  font-size: x-large;
  font-weight: 600;
  text-align: center;
  margin: 10px auto;
}

/* Staff Section */

#staff {
  text-align: center;
  .h1Text {
    font-size: 2em;
    width: 50%;
    margin: 20px auto;
  }
  .top,
  .staffMore {
    margin: 20px auto;
  }
}

.staff-container {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.staff {
  background-color: #ffffff;
  width: 260px;
  text-align: center;
  padding: 2em 1em;
  border: 1px solid var(--contactBlue);
  border-radius: 10px;
  transition: 0.2s all ease-in;
  position: relative;
  overflow: hidden;
}

.staffText {
  opacity: 0.86;
}
.staffCon {
  transition: all 0.3s ease;
}
.staff:hover {
  .staffCon {
    opacity: 0;
  }
  .staffHidden {
    opacity: 1;
  }
}

.staffPosition {
  color: #5f5f5f;
  opacity: 0.9;
  text-transform: capitalize;
}

.staffImg {
  width: fit-content;
  margin: auto;
  img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 3px solid;
  }
}

.staffName {
  margin: 10px auto;
  text-align: center;
  text-transform: capitalize;
}

.staffTextContainer {
  padding: 1em;

  .staffText {
    color: rgb(47 47 49 / 0.95);
  }
}

.staffHidden {
  transition: 0.3s all ease-in;
  position: absolute;
  top: 0;
  opacity: 0;
  left: 0;
  bottom: 0;
}

/* What's New section */

.category {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--blue);
  font-size: 0.9em;
}

.whatsNewCardWrapper {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.date {
  display: flex;
  gap: 10px;
}

.whatsNewDate {
  word-spacing: 10px;
  color: rgb(21 23 24 / 0.7);
  font-size: 0.9em;
  opacity: 0.8;
}
.whatsNewContainer {
  display: flex;
  width: 550px;
  gap: 20px;
  background: rgb(255 255 255 / 90%);
  height: 300px;
  align-items: center;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid var(--contactBlue);
  transition: 0.2s all linear;
}

.whatsNewImg {
  height: 100%;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
  }
}

.expand {
  width: 95%;
  height: fit-content;
}

.whatsNewTextCon {
  padding: 1em;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.whatsNewLink {
  width: fit-content;
  position: relative;
}

.linkButton {
  font-size: medium;
  background: none;
  color: var(--contactBlue);
}
.linkButton:hover {
  color: #000;
  background: none;
}

.linkButton:hover::before {
  width: 0%;
}

.linkButton::before {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  background-color: #000;
  height: 2px;
  width: 100%;
  transition: 0.3s all ease-in;
}

.whatsNewHeader {
  font-weight: 500;
  text-transform: uppercase;
}

.whatsNewHeaderText {
  opacity: 0.9;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 500;
}

.whatsNewText {
  padding: 10px;
  opacity: 0.85;
  padding-left: 0;
}

.whatsNewDivContainer {
  width: fit-content;
  padding: 1em;
  margin: auto;
  margin-bottom: 2em;

  .top {
    background-color: #fff;
  }
}

.whatsNewH1 {
  font-size: 40px;
  display: flex;
  gap: 5px;
  width: fit-content;
  margin: auto;
  color: #001233;
  margin-bottom: 15px;

  span > img {
    height: 40px;
  }
}

/* Review Section */

#reviews {
  padding: 3em;
  /* background-color: #f9fcff; */
  background-image: linear-gradient(
    147deg,
    #f9fcff 10%,
    #dee4ea 74%,
    transparent
  );
}

#reviewWrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.reviewHead {
  color: #03045e;
  margin: 0px auto 30px auto;
}

.reviewCard {
  width: 320px;
  padding: 1em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s ease-in;
  box-shadow: 0px 0px 5px 1px #58585886;
  img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid var(--originGray);
  }
  b {
    font-weight: 400;
    opacity: 0.85;
  }
}

.reviewer {
  text-transform: capitalize;
}

/* Contact Section */
#contact {
  margin-bottom: 0;
  /* background-color: #869fba; */
  padding: 1em;
  background-image: url(/images/customer.png);
  background-repeat: no-repeat;
  background-position: right;
}

.contactHead {
  font-size: xxx-large;
  font-weight: 500;
  text-align: center;
  padding: 1em 0 1.5em 0;
}

.contactHead > h1 {
  font-size: larger;
}

.touchWrap {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  background-color: #ffffffc0;
  border: 1px solid #001233;
  border-radius: 10px;
  padding: 1em;
  width: 80%;
  margin: auto;

  h1 {
    padding-bottom: 1em;
    font-size: x-large;
    text-align: left;
  }
}

.touch {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 80%;
  flex-direction: row-reverse;
  /* background-color: #6788adc0; */
  margin-left: auto;
}

.contact-container {
  /* background-color: #3e6bbf; */
  display: flex;
  gap: 50px;
  flex-direction: column;
  border-radius: 2px;
  height: fit-content;
  /* width: 40%; */
}

.contact-wrap {
  padding: 2em;
}

.info {
  padding: 10px;
  transition: all 0.3s ease-in;
  border: 1px solid #4d4d4d;
  border-radius: 3px;

  img {
    height: 20px;
  }
}

.info:last-child {
  margin-bottom: 20px;
}

.info:hover {
  box-shadow: 0px 0px 10px 3px lightgray;
}

.con {
  border: none;
  transition: 0.2s all ease-in;
  display: flex;
  gap: 10px;
  font-size: small;
  align-items: center;
  position: relative;
  color: #03045e;
}

.success {
  position: fixed;
  top: 0;
  padding: 1em;
  background: blue;
  border-radius: 5px;
  margin: 1em;
  z-index: 10;
  left: 40%;
  display: none;
}

.suv {
  display: block !important;
}

.formH1 {
  margin: 1em auto;
}

.contactForm {
  width: 100%;
  padding: 1em;

  .contact {
    padding: 1em;
    margin: 5px;
  }
}

.contactForm > div {
  padding: 5px;
  display: flex;
  flex-direction: column;

  label {
    /* font-size: large; */
    font-weight: 600;
    text-transform: capitalize;
  }
}

.formInput {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #001233;
  margin-bottom: 10px;
  /* background-color: #000000; */
}

.formInput,
.contactTextArea {
  background-color: #c5c5c599;
  color: black;
}

.formInput::placeholder,
.contactTextArea::placeholder {
  color: var(--originBlur);
}

.error {
  margin-bottom: 10px;
  color: red;
  /* display: none; */
  text-transform: capitalize;
}

.contactTextArea {
  border: 1px solid #001233;
  resize: none;
  padding: 1em;
  border-radius: 5px;
}

.formInput:focus,
.contactTextArea:focus {
  outline: 1px solid blue;
}

/* Footer */

#footer {
  background: linear-gradient(to left, #dbdbdb3d, transparent);
  margin: 0;
  /* background: linear-gradient(to left, #278fe4, transparent); */
  border-top: 1px solid #023e8a;
  right: 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  padding: 2em;

  a > .logo {
    padding-left: 0;
    height: 77px;
  }
}

.logoWrap > img {
  height: 70px;
  margin-bottom: 20px;
}
.logoText {
  margin: 0;
  padding: 0;
}

.footLink > ul > li {
  position: relative;
}
.footer-link:hover::before {
  width: 100%;
}

.footer-link::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000;
  left: 0;
  bottom: 0;
  transition: all 0.3s linear;
  border-radius: 30px;
}

.footer-link,
.svg {
  fill: #001233;
  transition: 0.2s all linear;
  color: initial;
}
.footLink > ul > li {
  margin-bottom: 10px;
  width: fit-content;
}

.workHours > p {
  margin-top: 10px;
}

.foot > * {
  margin-bottom: 10px;
}

.work {
  font-size: larger;
  color: black;
}

.footHead {
  font-size: larger;
  color: var(--contactBlue);
}

#svg-container {
  display: flex;
  gap: 20px;
}

.svg:hover {
  fill: var(--blue);
}

.location {
  color: #001233;
}

/* GRAPHIC DESIGN PAGE */

.design-container {
  justify-content: space-between;
  display: flex;
  gap: 30px;
  align-items: center;
  padding-left: 2em;

  div > h1 {
    font-size: xxx-large;
    margin-bottom: 20px;
  }

  h3 {
    background: linear-gradient(to right, #03045e, red);
    background-clip: text;
    color: transparent;
  }

  h4 {
    font-size: larger;
  }

  img {
    height: 400px;
  }
}

.graphAbout > * {
  padding: 1.5% 0 0 0;
}
.graphicAboutHeader {
  text-align: center;
  font-size: xx-large;
  opacity: 0.9;
}

#graphicRecentProjects {
  .top {
    margin: 10px auto;
    margin-bottom: 2em;
  }

  .top::before,
  .top::after {
    background-color: #00b4d8;
  }
}

.graphicAboutText {
  font-size: larger;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

#graphicSkills {
  background: linear-gradient(to right, #e1e1e1, transparent);

  .top {
    margin: 10px auto;
  }
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2em;
  gap: 20px;

  .left,
  .right {
    cursor: pointer;
  }

  .carouselItem {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 95%; */

    .carouselArrow {
      fill: #2e618e;
      height: 40px;
      width: 50px;
    }

    .carouselArrow:hover {
      fill: #0000cd;
    }
  }
}

.imgBtn {
  display: flex;
  gap: 30px;

  .iBtn {
    padding: 0.5em;
    border-radius: 50%;
    background-color: rgb(183, 183, 183);
    cursor: pointer;
  }
  .iBtn.active {
    background-color: #00a6ff;
  }
}

.designSkill {
  align-items: center;
  gap: 50px;
  background: #ffffffad;
  padding: 1em;
  border-radius: 10px;
  position: relative;
  .designSkillText > * {
    margin-bottom: 10px;
  }
  .designSkillText {
    max-width: calc(100% - 50%);

    .projectCardHead {
      font-size: x-large;
    }
  }
  img {
    border-radius: 5px;
    height: 250px;
    width: 500px;
  }
  .text {
    margin: 20px auto;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {
    opacity: 0.6;
    right: -10px;
  }
  to {
    right: 0%;
    opacity: 1;
  }
}

.projectCard {
  width: 320px;
  background: linear-gradient(to right, #0076b675, #023d8a77);
  position: relative;
  border-radius: 10px;
  height: 480px;
  border: 1px solid whitesmoke;

  * {
    transition: 0.3s all ease-in;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 1;
  }

  .cardText {
    padding-left: 1em;
    position: absolute;
    bottom: 10px;
    opacity: 0;
    height: fit-content;
    transition: 0.3s ease-in all;
  }

  .cardText > .projectCardHead {
    font-size: 25px;
  }

  .btn {
    padding: 0.5em;
    color: initial;
    display: block;
    margin: 10px 0;
  }

  .projectText {
    color: var(--originBlur);
    opacity: 0.86;
    padding: 1em 0;
    font-size: large;
  }
}
.projectCard:hover {
  img {
    opacity: 0.1;
    filter: grayscale(50%);
  }

  .cardText {
    opacity: 1;
  }
}

#projects {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 1em;
  flex-wrap: wrap;
}

/* WEB DEV PAGE */

#webServices > .top {
  color: #000000;
  margin: 20px auto;
}

.webAboutText {
  font-size: large;
  text-align: start;
  /* width: 80%; */
  margin: 10px auto;
  opacity: 0.9;
}

.webService {
  justify-content: center;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.webCard {
  width: 300px;
  padding: 1em;
  border-radius: 10px;
  background-color: #ffffffaf;
  border: 1px solid #47494b;

  > div:first-child {
    display: flex;
    justify-content: center;
  }

  * {
    margin-bottom: 10px;
  }
  transition: all 0.3s ease-in;
}

.webServiceImg {
  border-radius: 50%;
  height: 120px;
  width: 150px;
}

.webServiceh2 {
  text-align: center;
  color: var(--opacityBlue);
  font-size: 2em;
}

.webServiceText {
  font-size: 1.09em;
  text-align: center;
}

p.webText {
  opacity: 0.82;
}

/* Error 404 page */

#error > * {
  text-align: center;
}

#error > h2 {
  width: 70%;
  margin: 0.5em auto;
  font-size: large;
}
.img404 {
  width: 50%;
  margin: 1em auto;
  /* margin-top: 0; */
  height: 250px;
}

.errorBtn {
  margin-bottom: 1em;
}

.text404 {
  color: #000;
}

/* Schorlarship */

.scholarshipAbout {
  flex-direction: row-reverse;
}

.scholarshipAboutImg {
  height: 300px !important;
}

#scholarshipServices > .top {
  margin: 50px auto;
}

.service-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.scholarshipCard {
  width: 300px;
  overflow: hidden;
  background-color: rgb(243, 243, 243);
  border: 1px solid #8b8b8b6d;
  border-radius: 10px;
  transition: 0.2s all ease-in-out;
  height: fit-content;
}

.cardImg-container {
  overflow: hidden;
}

.cardImg {
  transition: 0.3s all linear;
  height: 280px;
  width: 100%;
}
.cardImg:hover {
  transform: scale(1.02);
}

.scholarshipCard:hover {
  box-shadow: 0px 0px 15px 5px rgba(36, 36, 36, 0.553);
}
.scholarshipCard:nth-child(2) {
  margin-top: 3em;
}
.scholarshipCard:nth-child(3) {
  margin-top: 6em;
}

.scholarTextContainer {
  padding: 1em;
  text-align: center;
}
.scholarCardHeader {
  margin: 10px auto;
  font-size: larger;
  color: var(--originBlur);
}
.scholarCardText {
  color: var(--originGray);
  opacity: 0.85;
}

/* Research Section */

img.headerImage {
  height: 390px;
}
.researchAboutHeader {
  font-size: xx-large;
  text-align: center;
  color: var(--originBlur);
}

.researchAboutText {
  font-weight: 400;
  font-size: larger;
  text-align: center;
  width: 70%;
  margin: 1em auto;
}

.researchServiceCard {
  width: 280px;
}

.researchServiceContainer {
  padding: 1.5em;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.descripHeader {
  width: 70%;
  text-align: center;
  margin: 1em auto;
  text-transform: capitalize;
  color: var(--originBlur);
}

.seemore {
  text-align: center;
  padding: 1em;
}

/* NYSC */

#nyscHeader {
  padding: 0;
}

.nyscBackgroung {
  width: 100%;
  position: absolute;
  z-index: -1;
  filter: opacity(0.09);
  height: 100%;
}
.nysc2 {
  flex-direction: row-reverse;
  gap: 50px;

  .nyscAboutTextCon {
    width: 600px;
  }
}
.nyscHeader {
  width: 70%;
  text-align: center;
  margin: auto;
  /* backdrop-filter: blur(5px); */
  display: block;
  padding: 2em;

  .top {
    font-size: large;
    margin: 10px auto;
    margin-bottom: 0;
  }

  .nyscH1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 500;
  }
}

.nyscAboutCon {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 400px;
  }
}

.nyscAboutTextCon {
  font-size: x-large;
  font-weight: 500;
  margin-bottom: 10px;
}

.nyscAboutTextCon > h3 {
  margin-bottom: 10px;
}

.nyscAboutText {
  font-size: 16px;
  opacity: 0.7;
}

.nyscServiceImage {
  height: fit-content;
  margin-top: -18%;
  width: fit-content;
  position: relative;
  background-color: var(--contactBlue);
  padding: 1em;
  border-radius: 50%;
  display: grid;

  svg {
    width: 60px;
  }
}
.brand {
  position: relative;
  width: 350px;
  background-color: white;
  padding: 1em;
  height: fit-content;
  border-radius: 5px;
  border: 1px solid var(--originBlurry);
}
.brand:nth-child(2) {
  margin-top: 2.5em;
}
.brand:nth-child(3) {
  margin-top: 5em;
}
.bold {
  font-size: x-large;
  font-weight: 600;
  margin-top: 1em;
}
.state {
  padding: 1em 0;
  font-size: 15px;
  color: var(--gray);
}

.illu {
  width: 50px;
}

#nyscAbout {
  padding: 1em;
}

.nyscServiceContainer {
  margin-top: 5em;
  display: flex;
  gap: 50px;
  justify-content: center;
  position: relative;
}

.nyscServiceContainer.second {
  margin-top: 0;
}

.line {
  position: absolute;
  height: 5px;
  background: var(--opacityBlue);
  width: 70%;
  top: 50%;
  z-index: -1;
}

@media (min-width: 1280px) {
  .container {
    margin: auto;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 1000px) {
  .top {
    font-size: 19px;
  }

  .headerIMG {
    margin-right: -50px;
  }

  /* Contact */
  .touchWrap {
    width: 100%;
  }
}

@media (max-width: 800px) {
  /* nav bar */

  .navCon {
    display: flex;
    gap: 30px;
  }

  .nav-items {
    border-top: 1px solid #0040ff;
    flex-direction: column;
    position: fixed;
    right: -100%;
    top: 0px;
    padding: 1em 0.5em;
    background-color: rgb(241, 241, 241);
    height: 100%;
    width: 300px;
    transition: right 0.2s linear;
    align-items: baseline !important;

    .nav {
      margin-left: 50px;
    }
  }
  .nav {
    text-align: center;
  }

  .bars {
    display: block;
  }
  .show {
    right: 0;
    visibility: visible;
  }

  .nav-link {
    font-size: larger;
    font-weight: 500;
  }

  /* Hero */

  .header {
    overflow: hidden;
    align-items: center;
    margin-left: 1em;

    .top {
      font-size: smaller;
    }
    .h1Text {
      font-size: xx-large;
    }

    .headerIMG {
      width: 400px;
      height: 300px;
      margin-right: -100px;
    }
  }

  /* CEO */

  .ceo-container {
    width: 100%;

    p {
      font-size: medium;
    }
  }

  .ceoH1 {
    font-size: xx-large;
  }

  /* Graphics */
  .design-container {
    align-items: end;
    div > .designH1 {
      font-size: 38px;
    }

    img {
      height: 400px;
      margin-right: -100px;
    }
  }

  .graphicAboutHeader {
    font-size: xx-large;
  }

  .graphicAboutText {
    width: 90%;
  }

  .carouselItem {
    width: 70%;

    .carouselArrow {
      height: 50px !important;
      width: initial !important;
    }
  }
  .designSkill {
    flex-direction: column;
    min-height: 560px;

    img {
      width: 100%;
    }

    .designSkillText {
      max-width: 100%;
    }
  }

  .cardText {
    top: calc(100% / 2.5) !important;
  }

  /* about section */
  .aboutText {
    font-size: initial;
    margin: 5px auto;
    width: 75%;
  }

  /* Services */

  #skill {
    justify-content: space-evenly;
  }

  .skills {
    width: 250px;
  }

  /* Reviews */

  #reviewWrapper {
    /* flex-direction: column; */
    flex-wrap: wrap;
  }

  .reviewCard {
    /* width: ; */
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;

    .revImgWrap {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
    }
  }

  /* Footer */

  .footer {
    gap: 20px;
    padding: 2em 0;
  }

  @keyframes turn {
    0% {
      background-position: left;
    }
    50% {
      background-position: right;
      /* transform: rotate(10deg); */
    }
    100% {
      background-position: left;
      /* transform: rotate(-20deg); */
    }
  }

  .carouselArrow {
    display: none;
  }
  .iBtn {
    padding: 0.7em !important;
  }
  /* Nysc */
  .nyscHeader {
    width: 100%;

    .top {
      background-color: white;
      color: var(--contactBlue);
    }
  }
  .nyscH1 {
    font-size: 40px !important;
    padding: 0.5em 0;
  }

  .nyscAboutCon {
    flex-direction: column;
  }
  .nyscAboutTextCon {
    text-align: center;

    h3 {
      margin: 10px;
    }
  }

  .nyscServiceContainer {
    flex-direction: column;
    align-items: center;

    .line {
      transform: rotate(90deg);
      width: 800px;
    }

    .nyscServiceImage {
      left: 50%;
      right: 50%;
      transform: translate(-50%);
    }
    .state {
      text-align: center;
    }
    .bold {
      text-align: center;
    }
  }
}

@media (max-width: 650px) {
  .header {
    /* flex-direction: column;
    padding-left: 0;
    padding-top: 3em; */

    .h1Text {
      font-size: 24px;
    }
  }

  .count {
    font-size: small;
  }

  .ceoImg {
    width: 250px;
    height: 250px;

    img {
      height: 100%;
    }
  }
  .ceo-container {
    p {
      font-size: medium;
    }
  }

  .ceoH1 {
    font-size: xx-large;
  }

  .contact-container {
    flex-direction: column;
    width: fit-content;
    /* margin: 1px auto; */
    height: fit-content;

    .info:last-child {
      margin-bottom: 10px;
    }
  }
  section {
    right: 0 !important;
  }

  .touchWrap {
    grid-template-columns: 1fr;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .contact-wrap > h1 {
    text-align: center;
  }

  .touch {
    flex-direction: column;
    gap: 30px;
    width: 100%;

    /* img[src="/images/customer.png"] {
      margin: 1px auto;
    } */
  }

  #staff > .h1Text {
    width: 100%;
  }

  .footer {
    font-size: medium;
    grid-template-columns: 1fr 1fr;
    justify-self: end;
    column-gap: calc(100% - 70%);
  }

  .design-container {
    flex-direction: row;
    padding-left: 0;
    padding-top: 1em;
    align-items: center;

    img {
      height: 300px;
      margin-right: 0;
    }

    div > * {
      text-align: left;
    }
  }

  .webAbout {
    flex-direction: column-reverse;

    .webAboutText {
      text-align: center;
    }
  }

  .carouselItem {
    width: 100% !important;
  }

  /* Error 404 page */

  .errorText404 {
    width: 100%;
    font-size: large;
  }
  .img404 {
    width: 100%;
  }

  .scholarshipCard:nth-child(2),
  .scholarshipCard:nth-child(3) {
    margin-top: 0;
  }

  .researchAboutText {
    width: 100%;
  }

  .descripHeader {
    width: 95%;
    font-size: larger;
  }

  /* NYSC */

  .nyscAboutTextCon {
    width: 100% !important;
  }
}

@media (max-width: 600px) {
  .navBar {
    position: sticky;
    top: 0;
    padding-top: 1em;
    padding-left: 0.5em;
  }
  .navBar::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    backdrop-filter: blur(10px);
  }

  .logoContainer > h4 {
    font-size: medium;
  }

  .nav-link {
    font-size: larger;
  }

  .logo {
    padding-left: 10px;
  }
  .logoContainer > h4 {
    display: none;
  }

  .header {
    flex-direction: column;
    padding-left: 0;
    padding-top: 3em;

    .h1Text {
      font-size: 33px;
      text-align: center;
    }

    .top {
      font-size: medium;
      margin: 1px auto;
      font-weight: 500;
    }

    .head-container {
      text-align: center;
    }

    .headerIMG {
      margin-right: 0;
    }
  }

  .about {
    flex-direction: column;
  }
  .aboutText {
    width: 100%;
  }

  #about > * {
    margin-bottom: 20px;
  }
  .count {
    font-size: larger;
  }
  .count::before,
  .contact::before {
    margin-right: 10px;
  }
  .count::after,
  .contact::after {
    margin-left: 10px;
  }

  .ceo-container {
    flex-direction: column;

    p {
      font-size: small;
    }
  }

  .ceoText {
    width: 100%;
    padding: 1.5em;
    text-align: center;
  }

  .ceoImg {
    width: 70%;
    margin: auto;

    img {
      box-shadow: none;
    }
  }

  .arrow {
    width: 60%;
    opacity: 0.5;
    z-index: -1;
    background-position: center;
  }

  .skills {
    max-width: 310px;
  }

  .whatsNewContainer {
    flex-direction: column;
    height: fit-content;
    width: 300px;
  }

  .whatsNewImg {
    height: 250px;
  }

  #staff > .h1Text {
    font-size: x-large;
  }

  .contact-container {
    flex-direction: column;
    /*  */
    width: fit-content;
    margin-right: auto o !important;
    height: max-content;

    .info:last-child {
      margin-bottom: 10px;
    }
  }
  .contactForm {
    button.contact {
      width: 50%;
      margin: 1em 0;
      font-size: large;
    }

    label {
      margin-bottom: 5px;
    }
  }

  .footer {
    grid-template-columns: 1fr;

    * {
      margin-bottom: 5px;
      justify-self: center;
      margin: auto;
      text-align: center;
    }
  }

  .design-container {
    flex-direction: column;
    align-items: center;

    img {
      height: 350px;
    }

    div > .designH1 {
      font-size: x-large !important;
    }
  }

  .design-container > div > * {
    text-align: center;
  }

  .graphicAboutHeader {
    font-size: x-large;
  }

  .webAboutText {
    font-size: large;
  }

  .nyscH1 {
    font-size: 30px !important;
  }

  .nyscServiceContainer.second {
    margin-top: 5em;
  }
}

@media (max-width: 500px) {
  .skills {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .nav-items {
    width: 250px;
  }

  .contactHead {
    font-size: xx-large;
  }

  img[src="/images/customer.png"] {
    height: 300px;
    width: 350px;
  }

  .top {
    /* font-size: 5px; */
    text-align: center;
    letter-spacing: 1px;
  }

  .design-container > img {
    height: 250px;
  }

  .cardText {
    bottom: 1em !important;

    .projectCardHead {
      font-size: x-large !important;
    }
  }

  .whatsNewH1 {
    font-size: xx-large;
  }

  .count {
    font-size: smaller;
  }

  .brand {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .nyscH1 {
    font-size: 27px !important;
  }

  .h1Text {
    font-size: 25px !important;
  }
  .ceoImg {
    width: 80%;
  }
  #reviews {
    padding: 1em;
  }

  .reviewText {
    text-align: center;
  }
}
