@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  transition: all 0.2s ease-in;
  overflow-x: hidden;
  background: linear-gradient(to right, #1ecbe1, #268ad9);
  /* background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png"); */
}

/* utility */
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  color: white;
}

button {
  transition: 0.2s background-color ease;
}
li {
  list-style: none;
}

button:hover {
  background-color: #0040ff;
}

#root {
  position: relative;
  z-index: 11000;
}

section {
  padding: 1.3em;
  padding-left: 1.5em;
  margin-bottom: 4%;
  overflow: hidden;
  transition: all 0.2s linear;
  opacity: 0;
  position: relative;
  z-index: -1;
  right: -5%;
}
.view {
  opacity: 5;
  right: 0%;
}

.top {
  text-align: left;
  background: #2a8dd5;
  border-radius: 30px;
  width: fit-content;
  padding: 0.2em 1em;
  color: rgb(0, 0, 0);
  font-weight: 400;
  /* margin-left: 1.7em; */
  margin-bottom: 10px;
}

.top::before,
.top::after {
  content: " ";
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  padding: 2px;
}

.top::before {
  margin-right: 10px;
}
.top::after {
  margin-left: 10px;
}

/* utility */
a,
button {
  text-decoration: none;
  color: white;
  cursor: pointer;
  border: none;
}

.bars {
  cursor: pointer;
  display: none;
}

/* overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000007d;
  visibility: hidden;
  transition: visibility 0.2s ease-in;
  cursor: url(/images/icons/cancel.svg), auto;
}

/* Dark Mode */
.dark {
  background: linear-gradient(to right, #1f1f1f, #000f1a);

  .nav:first-child {
    border-color: white;
  }
  .nav:first-child:hover {
    border-color: #001f9a;
  }
  .navBar {
    background: linear-gradient(to right, #1f1f1f7b, #000f1a88);
  }
  .nav-items {
    background-color: #000f1a;
  }

  .nav-link:hover {
    color: #005ee3;
    border-bottom: 2px solid blue;
  }

  .top {
    color: #ffffff;
    border: 1px solid white;
  }
  .top::after,
  .top::before {
    background-color: #000f1a;
  }

  .contact {
    border-color: white;
  }

  /* About section dark mode */

  #about {
    background: linear-gradient(to right, #1b1b1b, transparent);
    .about {
      color: #b7c5ff;
    }
  }
  .about {
    color: #eeeeee;
  }

  /* Services */
  .arrow {
    background-image: url(/images/curved-arrow-white.svg);
  }

  .skills {
    border: 1px solid #d3d3d338;
  }
  .skills:hover {
    background-color: #005fe344;
    box-shadow: 0px 0px 3px white;
  }

  /* Reviews */
  .reviewCard {
    background-color: #1c7de330;
    outline: 1px solid wheat;
  }
  .reviewCard:hover {
    outline-color: wheat;
  }

  /* Contact */
  #contact {
    background: linear-gradient(to right, #1c1d1dd6, #101010);
    padding: 1em 0 0 0;
    border-top: 0.2px solid white;
  }

  .contactHead{
    color: #1c7de3;
  }

  .info {
    border-color: white;
  }

  /* Footer */

  #footer {
    background: linear-gradient(to left, rgb(0 0 0 / 38%), transparent);

    .footHead {
      color: #a0c9f5;
    }

    .footer-link:hover {
      color: rgb(56, 56, 255);
    }

    .work {
      color: #bdddfe;
    }
  }

  @media (min-width: 801px) {
    .nav-items {
      background-color: transparent;
    }
  }
  @media (max-width: 900px) {
    .nav-link:hover {
      color: #005ee3;
      border-bottom: 2px solid rgb(255, 255, 255);
    }
  }
}

/* Nav bar */

.navBar {
  display: flex;
  justify-content: space-between;
  padding: 1.3em;
  padding-top: 1.8em;
  padding-left: 1.7em;
  align-items: center;
  border-bottom: 1px solid #0040ff;

  /* .nav{
    position: relative;
  } */
  .nav-items {
    display: flex;
    list-style: none;
    gap: 30px;
    padding-right: 1%;
    cursor: pointer;
    align-items: center;
  }
  /* .nav::before{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: #000f1a;
    width: 100%;
    content: "";
  } */

  a[href="/"] {
    display: flex;
  }

  img {
    height: fit-content;
  }

  .theme {
    width: 20px;
  }

  .logo {
    height: 50px;
  }
}

.nav:first-child {
  border: 1.5px solid midnightblue;
  padding: 5px 20px;
  border-radius: 5px;
  transition: 0.2s background-color ease-in;
}

.logo {
  padding-left: 2em;
}

.nav-link {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  text-transform: capitalize;
}

.nav-link:hover {
  color: midnightblue;
  border-bottom: 2px solid midnightblue;
}

.nav:first-child:hover {
  background-color: yellowgreen;
}

/* Header section */

.header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-left: 2em;

  .headerIMG {
    width: fit-content;
    height: 400px;
  }

  .h1Text {
    font-size: 45px;
    color: white;
    padding: 10px 0;
    /* padding-left: 1em; */
    /* font-family: "Roboto", sans-serif; */
  }
}

.contact {
  padding: 1em;
  background: #268ad9;
  border: none;
  border-radius: 5px;
  font-size: medium;
  font-weight: 500;
  border: 0.5px solid blue;
  margin: 1px auto;
}

.contact::after,
.contact::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
}

.comName {
  color: #1f46e1;
}

/* About section */
#about {
  text-align: center;
  background: linear-gradient(106deg, #349ccb, transparent);
}
.about {
  font-size: xxx-large;
  color: rgb(0, 0, 0);
  padding: 0.2em;
  font-style: italic;
  text-align: center;
}

.count {
  font-style: italic;
  font-weight: 400;
  margin: 1px auto;
}
.counter {
  color: #001f9a;
}

.aboutText {
  font-size: larger;
  margin: 10px auto;
  width: 65%;
}

#skill {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skills {
  width: 300px;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.5s ease-out;
  padding: 1%;
  min-height: 250px;
  border: 0.5px solid #3640cb57;
}

.skills:hover {
  box-shadow: 0px 0px 7px white;
  border-color: #005ee3;
  background-color: #2473da;
}

.skillIMG > img {
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  height: 150px;
}

.skillText {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

/* Services section*/

.arrow {
  background-image: url(/images/curved-arrow-black.svg);
  background-repeat: no-repeat;
  background-position: left;
  height: 100px;
  animation: turn 10s infinite ease;
  position: relative;
  z-index: -1;
}

@keyframes turn {
  0% {
    background-position: left;
  }
  50% {
    background-position: center;
    /* transform: rotate(10deg); */
  }
  75% {
    background-position: right;
    /* transform: rotate(20deg); */
  }
  100% {
    background-position: left;
    /* transform: rotate(-20deg); */
  }
}

/* Review Section */

#reviewWrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.reviewHead {
  color: #0000cd;
  margin: 0px auto 30px auto;
}

.reviewCard {
  width: 320px;
  padding: 1em;
  background-color: #1c7de3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s ease-in;
  img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid #4a97e8;
  }
  b {
    font-weight: 200;
  }
}

.reviewer {
  text-transform: capitalize;
}
.reviewCard:hover {
  outline: 1px solid black;
  background-color: #0e6fd7;
}

/* Contact Section */
#contact {
  margin-bottom: 0;
  background: linear-gradient(to right, #278fe4, transparent);
  padding: 1em 0 0 0;
}

.contactHead {
  font-size: xxx-large;
  font-weight: 500;
  text-align: center;
  padding: 1em 0 1.5em 0;
  color: #0040ff;
}

.touch{
  display: flex;
  justify-content: space-evenly;

  img{
    height: 300px;
  }
}

.contact-container {
  /* background-color: #3e6bbf; */
  display: flex;
  gap: 50px;
  flex-direction: column;
  border-radius: 2px;
  height: fit-content;
}

.info {
  padding: 1em;
  transition: all 0.2s ease-in;
  border: 1px solid #0040ff;
  border-radius: 3px;

  img{
    height: 20px;
  }
}

.info:last-child{
  margin-bottom: 20px;
}

.info:hover {
  background-color: #1e71e1;
  .con {
    border-bottom: 2px solid mediumblue;
    /* color: rgb(46, 61, 225); */
  }
}

.con {
  border: none;
  transition: 0.2s all ease-in;
  display: flex;
  gap: 10px;
  font-size: larger;
  align-items: center;
}
.con:hover {
  color: #0000cd;
  border-bottom: 2px solid #0000cd;
  /* color: rgb(255, 255, 255); */
}

/* Footer */

#footer {
  background: linear-gradient(to left, rgb(16, 117, 157), transparent);
  margin: 0;
  /* background: linear-gradient(to left, #278fe4, transparent); */
  border-top: 1px solid #ffffff;
  right: 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  padding: 2em;

  .logo {
    padding-left: 0;
  }
}

.logoWrap > img {
  height: 70px;
  margin-bottom: 20px;
}
.logoText {
  margin: 0;
  padding: 0;
}

.footer-link,
.svg {
  fill: white;
  transition: 0.2s all linear;
}
.footLink > ul > li {
  margin-bottom: 10px;
}

.footer-link:hover {
  color: #0000cd;
  border-bottom: 2px solid white;
}

.workingHours > * {
  margin-bottom: 5px !important;
}

.foot > * {
  margin-bottom: 10px;
}

.work {
  font-size: larger;
  color: black;
}

.footHead {
  font-size: larger;
  color: #001f9a;
}

#svg-container {
  display: flex;
  gap: 20px;
}

.svg:hover {
  fill: #0000cd;
}

.location {
  color: rgb(240, 240, 240);
}

/* @media(min-width: 1001px){

} */

@media (max-width: 1000px) {
  .top {
    font-size: 19px;
  }

  .headerIMG {
    margin-right: -50px;
  }
}

@media (max-width: 800px) {
  /* nav bar */

  .nav-items {
    border-top: 1px solid #0040ff;
    flex-direction: column;
    position: fixed;
    right: -100%;
    top: 0px;
    padding: 1em 0.5em;
    background-color: #0e6fd7;
    height: 100%;
    width: 300px;
    transition: right 0.2s linear;
    align-items: baseline !important;

    .nav {
      margin-left: 50px;
    }
  }
  .nav {
    text-align: center;
  }

  .bars {
    display: block;
  }
  .show {
    right: 0;
    visibility: visible;
  }

  /* Hero */

  .header {
    overflow: hidden;
    align-items: center;
    margin-left: 1em;

    .top {
      font-size: medium;
    }

    .h1Text {
      font-size: xx-large;
    }

    .headerIMG {
      width: 400px;
      margin-right: -100px;
    }
  }

  /* about section */
  .aboutText {
    font-size: initial;
    margin: 5px auto;
    width: 75%;
  }

  /* Services */

  #skill {
    justify-content: space-evenly;
  }

  .skills {
    width: 250px;
  }

  /* Reviews */

  #reviewWrapper {
    /* flex-direction: column; */
    flex-wrap: wrap;
  }

  .reviewCard {
    /* width: ; */
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;

    .revImgWrap {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }

  /* Contact */
  img[src="/images/customer.png"]{
    height: 300px;
    width: 400px;
  }

  /* Footer */

  .footer {
    gap: 20px;
    padding: 2em 0;
  }

  @keyframes turn {
    0% {
      background-position: left;
    }
    50% {
      background-position: right;
      /* transform: rotate(10deg); */
    }
    100% {
      background-position: left;
      /* transform: rotate(-20deg); */
    }
  }
}

@media (max-width: 650px) {
  .header {
    /* flex-direction: column;
    padding-left: 0;
    padding-top: 3em; */

    .h1Text {
      font-size: 24px;
    }
  }
  .contact-container {
    flex-direction: column;
    width: fit-content;
    margin: 1px auto;
    height: fit-content;

    .info:last-child {
      margin-bottom: 10px;
    }
  }

  .touch{
    flex-direction: column;
    gap: 30px;

    img[src="/images/customer.png"]{

      margin: 1px auto;
    }
  }

  .footer {
    font-size: medium;
    grid-template-columns: 1fr 1fr;
    justify-self: end;
    column-gap: calc(100% - 70%);
  }
}

@media (max-width: 600px) {
  .navBar {
    position: sticky;
    top: 0;
    background-color: #1ecae171;
    padding-top: 1em;
  }

  .logo {
    padding-left: 10px;
  }

  .header {
    flex-direction: column;
    padding-left: 0;
    padding-top: 3em;

    .h1Text {
      font-size: 33px;
      text-align: center;
    }

    .top {
      background-color: #0e6fd7;
      font-size: 16.5px;
      margin: 1px auto;
    }

    .head-container {
      text-align: center;
    }

    .headerIMG {
      margin-right: 0;
    }
  }

  .top {
    border: 2px solid #0040ff;
  }

  #about > * {
    margin-bottom: 20px;
  }
  .count {
    font-size: larger;
    border: 2px solid #0040ff;
  }
  .count::before,
  .contact::before {
    margin-right: 10px;
  }
  .count::after,
  .contact::after {
    margin-left: 10px;
  }

  .arrow {
    width: 60%;
    opacity: 0.5;
    z-index: -1;
  }

  .skills {
    width: 310px;
  }

  .contact-container {
    flex-direction: column;
    width: fit-content;
    margin: 1px auto;
    height: max-content;

    .info:last-child {
      margin-bottom: 10px;
    }
  }


  .footer {
    grid-template-columns: 1fr;

    * {
      margin-bottom: 5px;
      justify-self: center;
      text-align: center;
    }
  }
}

@media (max-width: 400px) {
  .nav-items {
    width: 250px;
  }

  /* section{
    right: 0 !important;
  } */

  .contactHead{
    font-size: xx-large;
  }
  
  img[src="/images/customer.png"]{
    height: 300px;
    width: 350px;
  }



  .top {
    /* font-size: 5px; */
    text-align: center;
    letter-spacing: 1px;
  }
}
