@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root{
  --contactBlue: #002466;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: all 0.2s ease-in;
  background-color: rgb(242, 242, 242);
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

/* utility */
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  color: #151718;
}

button {
  transition: 0.2s background-color ease;
}
li {
  list-style: none;
}

button:hover {
  background-color: #00b4d8 !important;
  color: white;
}

img {
  max-width: 100%;
}

.container {
  position: relative;
  z-index: 1000;
  margin: 0 auto;
}

section {
  padding: 1.3em;
  padding-left: 1.5em;
  margin-bottom: 4%;
  overflow: hidden;
  transition: all 0.4s linear;
  opacity: 0;
  transform: translateY(50px);
  position: relative;
  z-index: -1;
}
.view {
  transform: translateY(0px);
  opacity: 1;
}

.top {
  text-align: left;
  background: rgba(255, 255, 255, 0.605);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.605);
  width: fit-content;
  padding: 0.1em 1em;
  color: rgb(0, 0, 0);
  font-weight: 500;
  box-shadow: 0px 0px 5px 0px gray;
  margin-bottom: 10px;
}

.top::before,
.top::after {
  content: " ";
  height: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  padding: 2px;
}

.top::before {
  margin-right: 10px;
}
.top::after {
  margin-left: 10px;
}

/* utility */
a,
button {
  text-decoration: none;
  color: white;
  cursor: pointer;
  border: none;
}

.bars {
  cursor: pointer;
  display: none;
}

/* overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000007d;

  visibility: hidden;
  transition: visibility 0.2s ease-in;
  cursor: url(/images/icons/cancel.svg), auto;
}

/* Dark Mode */
.dark {
  /* background: linear-gradient(to right, #1f1f1f, #212529); */
  background-color: black;
  .nav:first-child {
    border-color: white;
  }
  .nav:first-child:hover {
    background-color: #0077b6;
    border-color: #001f9a;
  }
  .navBar {
    border-bottom-color: #002333;
    background: linear-gradient(to right, #1f1f1f7b, #000f1a88);
  }
  .nav-items {
    background-color: #395169;
  }

  .nav-link {
    color: #caf0f8;
  }

  .logoContainer > * {
    color: #caf0f8;
  }

  .nav-link:hover {
    color: white;
  }
  .nav-link:hover::before {
    background-color: white;
  }

  .top {
    color: #ffffff;
    border: 0.5px solid white;
    background-color: #0096c7 !important;
  }
  .top::after,
  .top::before {
    background-color: #000f1a;
  }

  .contact {
    border-color: white;
  }
  /* Header */

  .h1Text {
    color: white !important;

    .comName {
      color: #0077b6 !important;
    }
  }

  /* About section dark mode */

  #about {
    background: linear-gradient(to right, #1b1b1b48, transparent);

    .aboutText {
      color: white;
    }

    .top {
      background-color: #023e8a;
    }
  }
  .about {
    color: #ade8f4;
  }

  /* Services */
  .arrow {
    background-image: url(/images/curved-arrow-white.svg);
  }

  .skills {
    border: 1px solid #d3d3d382;
    background-color: #caf0f81a;
    .skillText {
      color: #ade8f4;
    }
  }
  .skills:hover {
    background-color: #005fe344;
    box-shadow: 0px 0px 3px white;
  }
  .skillTextWrap > .text {
    text-align: center;
    color: #ffffff;
  }

  /* Reviews */
  .reviewCard {
    background-color: #2f415430;
    outline: 1px solid #a4a4a4;

    .reviewText {
      color: white;
    }

    .reviewer,
    b {
      color: #caf0f8;
    }
  }
  .reviewCard:hover {
    background-color: #023e8a;
  }

  /* Contact */
  #contact {
    background: linear-gradient(to right, #1c1d1dd6, #101010);
    border-top: 0.2px solid #001233;
  }

  .touchWrap {
    background: #0c0c0c;
    border-color: white;

    h1 {
      color: #ade8f4;
    }
  }

  .contactForm {
    label {
      color: rgb(201, 201, 201);
    }

    button {
      background-color: #ade8f4;
      color: #001233;
      border-color: #000000;
    }
    .contact::before,
    .contact::after {
      background-color: black;
    }
  }
  .formInput,
  .contactTextArea {
    background-color: rgb(33, 33, 33);
    border-color: #48cae4;
    color: rgb(215, 215, 215);
  }

  .formInput::placeholder,
  .contactTextArea::placeholder {
    color: rgb(215, 215, 215);
  }

  .contactHead {
    color: #0096c7;
  }

  .info {
    border-color: rgb(197, 197, 197);

    .con {
      color: #caf0f8;
    }
  }

  /* Footer */

  #footer {
    background: linear-gradient(to left, rgb(0 0 0 / 38%), transparent);

    .location {
      color: #caf0f8;
    }

    b {
      color: white;
    }

    .footHead {
      color: #a0c9f5;
    }

    .footer-link,
    .svg {
      fill: white;
      color: white;
    }

    .footer-link::before {
      background-color: #ffffff;
    }

    .svg:hover,
    .footer-link:hover {
      fill: #2672ff;
      color: #ade8f4;
    }

    .work {
      color: #bdddfe;
    }
  }

  /* Graphics Page */

  .designH1,
  .graphicAboutText {
    color: #fcfcfc;
  }

  .design-container {
    .comName {
      color: #19a4ef;
    }

    h3 {
      background: linear-gradient(to right, #ade8f4, red);
      background-clip: text;
    }
    h4 {
      font-size: larger;
    }
  }

  .graphicAboutHeader {
    color: #ade8f4;

    .comName {
      color: #19a4ef;
    }
  }

  #graphicSkills {
    background: linear-gradient(to right, #23232381, transparent);
  }

  .designSkill {
    background-color: rgb(42, 42, 42);
    border: 1px solid #ade8f4;
  }

  .carouselArrow {
    fill: #ade8f4 !important;
  }

  #graphicRecentProjects {
    .headerSpan {
      color: white;
    }
    .top::before,
    .top::after {
      background-color: #000000;
    }

    .projectCardHead {
      color: #ade8f4;
    }

    .btn {
      background-color: #0077b6;
      color: white;
    }
  }

  .designSkillText {
    .projectCardHead {
      color: #ade8f4;
    }
    .text {
      color: white;
    }
  }

  .webHead > div > h1 {
    color: #ade8f4;
  }

  #webServices > .top {
    color: white;
  }

  .webAboutText {
    color: white;
  }

  .webCard {
    background-color: #000f1a;
    border-color: #ade8f4;
  }

  .webServiceText {
    .webServiceh2 {
      color: #ade8f4;
    }

    .webText {
      color: white;
    }
  }

  /* 404 Error Page */

  .text404 {
    color: #ade8f4;
  }

  #error > h2 {
    width: 70%;
    margin: 0.5em auto;
    font-size: large;
    color: white;
  }

  /* Scholarships */

  .scholarshipCard {
    background-color: rgb(25, 25, 25);
    border: 1px solid #ffffff6d;
  }

  .scholarCardHeader {
    color: #ade8f4;
  }
  .scholarCardText {
    color: #ffffff;
  }

  @media (min-width: 801px) {
    .nav-items {
      background-color: transparent;
    }
  }
  @media (max-width: 900px) {
    .nav-link:hover {
      border-bottom: 2px solid rgb(255, 255, 255);
    }
  }
}

/* Nav bar */

.navBar {
  display: flex;
  justify-content: space-between;
  padding: 1.3em;
  padding-top: 1.8em;
  padding-left: 1em;
  align-items: center;
  border-bottom: 1px solid #0040ff;

  .logoContainer {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 1em;
  }

  .navCon {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .nav-items {
    display: flex;
    list-style: none;
    gap: 30px;
    padding-right: 1%;
    cursor: pointer;
    align-items: center;
  }

  a[href="/"] {
    display: flex;
  }

  img {
    height: fit-content;
  }

  .theme {
    cursor: pointer;
    width: 20px;
  }

  .logo {
    height: 50px;
  }
}

.nav:first-child,
.nav:first-child > .nav-link::before {
  border: 1.5px solid midnightblue;
  padding: 5px 20px;
  border-radius: 5px;
  transition: 0.2s background-color ease-in;
  content: none;
}

.nav {
  position: relative;
}

.logo {
  padding-left: 1.2em;
}

.nav-link {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  text-transform: capitalize;
  color: #001233;
  font-size: large;
}
.nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 0%;
  height: 2px;
  background-color: #001233;
  border-radius: 30px;
  transition: 0.3s all linear;
}
.nav-link:hover,
.nav-link:hover::before {
  width: 100%;
  color: #001233;
}

.nav:first-child:hover {
  background-color: #2d3133;

  .nav-link:first-child {
    color: white;
  }
}

/* Header section */

.header {
  display: flex;
  /* gap: 20px; */
  justify-content: space-between;
  align-items: center;
  margin-left: 1.5em;

  .headerIMG {
    width: fit-content;
    height: 400px;
  }

  .h1Text {
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 10px 0;
    line-height: 1.5em;
      color: rgb(21 23 24 / 1);
  }
}

.comName {
  color: #002466;
}

.contact {
  padding: 1em;
  color: #fff;
  background: var(--contactBlue);
  border: none;
  border-radius: 5px;
  font-size: medium;
  font-weight: 500;
  margin: 1px auto;
  box-shadow: 0px 0px 5px 0px rgb(141, 141, 141);
}

.contact::after,
.contact::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

/* About section */
#about {
  /* margin-bottom: 0; */
  text-align: center;
  background: linear-gradient(106deg, hsla(0, 0%, 91%, 0.495), transparent);
}
.about {
  font-size: xxx-large;
  padding: 0.2em;
  text-align: center;
  display: flex;
  align-items: flex-start;
  width: fit-content;
  margin: auto;

  span{
    display: flex;
    align-self: center;

    img{
      height: 60px;
    }
  }
}

.count {
  font-style: italic;
  font-weight: 400;
  margin: 1px auto;
}
.counter {
  color: var(--contactBlue);
}

.aboutText {
  font-size: larger;
  margin: 10px auto;
  width: 65%;
}

/* Services */

#skill {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.skills {
  width: 300px;
  border-radius: 5px;
  background-color:rgba(236, 236, 236, 0.457) ;

  transition: all 0.2s ease-out;
  border: 0.5px solid #2d31333b;
  overflow: hidden;
  height: 100%;
}

.skills:hover {
  box-shadow: 0px 0px 10px #797e82;
  border-color: white;
}

.skillIMG > img {
  width: 100%;
  height: 200px;
}
.skillTextWrap {
  padding: 1em;

  .text {
    text-align: center;
color: rgb(47 47 49 / 1);
  }
}

.skillText {
  font-size: x-large;
  font-weight: 600;
  text-align: center;
  margin: 10px auto;
}

/* CEO Section */

#CEO {
background: linear-gradient(transparent,hsl(0, 0%, 90%));
}

.ceo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 1em auto;
}
.ceoImg {
  width: 300px;

  img {
    border-radius: 10px;
    width: 100%;
    height: 300px;
    box-shadow: 0px 0px 10px 5px rgb(128, 128, 128);
  }
}

.ceoH1{
  margin-bottom: 10px;
  font-size: 3em;
  letter-spacing: 0.4px;
  color: #3B3B3B;
}

.ceoText {
  width: 50%;

  p {
    font-size: large;
  }
}

/* Services section*/

.arrow {
  background-image: url(/images/curved-arrow-black.svg);
  background-repeat: no-repeat;
  background-position: left;
  height: 100px;
}

/* Review Section */

#reviewWrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.reviewHead {
  color: #03045e;
  margin: 0px auto 30px auto;
}

.reviewCard {
  width: 320px;
  padding: 1em;
  background-color: #6ea1d52c;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s ease-in;
  border: 1px solid #03045e;
  img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid #4a97e8;
  }
  /* .reviewText {
    color: i;
  } */
  b {
    font-weight: 300;
  }
}

.reviewer {
  text-transform: capitalize;
}
.reviewCard:hover {
  /* outline: 1px solid black; */
  box-shadow: 0px 0px 3px #023e8a;
  background-color: #6ea1d5;
}

/* Staff Section */

#staff {
  text-align: center;
  .h1Text {
    font-size: 2em;
    width: 50%;
    margin: 20px auto;
  }
  .top,
  .staffMore {
    margin: 20px auto;
  }
}

.staff-container {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.staff {
  background-color: #ffffff;
  width: 260px;
  text-align: center;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.466);
}

.staffImg {
  width: fit-content;
  margin: auto;
  img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 3px solid;
  }
}

.staffName {
  margin: 10px auto;
  text-align: center;
}

.staffTextContainer {
  padding: 1em;
}

/* Contact Section */
#contact {
  margin-bottom: 0;
  /* background-color: #869fba; */
  padding: 1em;
  background-image: url(/images/customer.png);
  background-repeat: no-repeat;
  background-position: right;
}

.contactHead {
  font-size: xxx-large;
  font-weight: 500;
  text-align: center;
  padding: 1em 0 1.5em 0;
}

.contactHead > h1 {
  font-size: larger;
}

.touchWrap {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  background-color: #ffffffc0;
  border: 1px solid #001233;
  border-radius: 10px;
  padding: 1em;
  width: 80%;
  margin: auto;

  h1 {
    padding-bottom: 1em;
    font-size: x-large;
    text-align: left;
  }
}

.touch {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 80%;
  flex-direction: row-reverse;
  /* background-color: #6788adc0; */
  margin-left: auto;
}

.contact-container {
  /* background-color: #3e6bbf; */
  display: flex;
  gap: 50px;
  flex-direction: column;
  border-radius: 2px;
  height: fit-content;
  /* width: 40%; */
}

.contact-wrap {
  padding: 2em;
}

.info {
  padding: 10px;
  transition: all 0.3s ease-in;
  border: 1px solid #4d4d4d;
  border-radius: 3px;

  img {
    height: 20px;
  }
}

.info:last-child {
  margin-bottom: 20px;
}

.info:hover {
  box-shadow: 0px 0px 10px 3px lightgray;
}

.con {
  border: none;
  transition: 0.2s all ease-in;
  display: flex;
  gap: 10px;
  font-size: small;
  align-items: center;
  position: relative;
  color: #03045e;
}
/* .con::before {
  position: absolute;
  height: 1.5px;
  width: 0%;
  content: "";
  background-color: #023e8a;
  left: 0;
  bottom: 0px;
  border-radius: 30px;
  transform: translateX(0);
  transition: width 0.2s linear;
} */

/* .con:hover {
  color: #023e8a;

  /* color: rgb(255, 255, 255); */
/* }  */

.success {
  position: fixed;
  top: 0;
  padding: 1em;
  background: blue;
  border-radius: 5px;
  margin: 1em;
  z-index: 10;
  left: 40%;
  display: none;
}

.suv {
  display: block !important;
}

.formH1 {
  margin: 1em auto;
}

.contactForm {
  width: 100%;
  padding: 1em;

  .contact {
    padding: 1em;
    margin: 5px;
  }
}

.contactForm > div {
  padding: 5px;
  display: flex;
  flex-direction: column;

  label {
    /* font-size: large; */
    font-weight: 600;
    text-transform: capitalize;
  }
}

.formInput {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #001233;
  margin-bottom: 10px;
  /* background-color: #000000; */
}

.formInput,
.contactTextArea {
  background-color: #c5c5c599;
}

.formInput::placeholder,
.contactTextArea::placeholder {
  color: #023d8a94;
}

.error {
  margin-bottom: 10px;
  color: red;
  /* display: none; */
  text-transform: capitalize;
}

.contactTextArea {
  border: 1px solid #001233;
  resize: none;
  padding: 1em;
  border-radius: 5px;
}

.formInput:focus,
.contactTextArea:focus {
  outline: 1px solid blue;
}

/* Footer */

#footer {
  background: linear-gradient(to left, #dbdbdb3d, transparent);
  margin: 0;
  /* background: linear-gradient(to left, #278fe4, transparent); */
  border-top: 1px solid #023e8a;
  right: 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  padding: 2em;

  .logo {
    padding-left: 0;
  }
}

.logoWrap > img {
  height: 70px;
  margin-bottom: 20px;
}
.logoText {
  margin: 0;
  padding: 0;
}

.footLink > ul > li {
  position: relative;
}
.footer-link:hover::before {
  width: 100%;
}

.footer-link::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000;
  left: 0;
  bottom: 0;
  transition: all 0.3s linear;
  border-radius: 30px;
}

.footer-link,
.svg {
  fill: #001233;
  transition: 0.2s all linear;
  color: initial;
}
.footLink > ul > li {
  margin-bottom: 10px;
  width: fit-content;
}

.footer-link:hover {
  color: #023e8a;
}

.workingHours > * {
  margin-bottom: 5px !important;
}

.foot > * {
  margin-bottom: 10px;
}

.work {
  font-size: larger;
  color: black;
}

.footHead {
  font-size: larger;
  color: #03045e;
}

#svg-container {
  display: flex;
  gap: 20px;
}

.svg:hover {
  fill: #0000cd;
}

.location {
  color: #001233;
}

/* GRAPHIC DESIGN PAGE */

.design-container {
  justify-content: space-between;
  display: flex;
  gap: 30px;
  align-items: center;
  padding-left: 2em;

  div > h1 {
    font-size: xxx-large;
    margin-bottom: 20px;
  }

  h3 {
    background: linear-gradient(to right, #03045e, red);
    background-clip: text;
    color: transparent;
  }

  h4 {
    font-size: larger;
  }

  img {
    height: 400px;
  }
}

.graphAbout > * {
  padding: 1.5% 0 0 0;
}
.graphicAboutHeader {
  text-align: center;
  font-size: xx-large;
}

#graphicRecentProjects {
  .top {
    background-color: #7fc1d6;
    margin: 10px auto;
    margin-bottom: 2em;
  }

  .top::before,
  .top::after {
    background-color: #00b4d8;
  }
}

.graphicAboutText {
  font-size: larger;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

#graphicSkills {
  background: linear-gradient(to right, #e1e1e1, transparent);

  .top {
    margin: 10px auto;
  }
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2em;
  gap: 20px;

  .left,
  .right {
    cursor: pointer;
  }

  .carouselItem {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 95%; */

    .carouselArrow {
      fill: #2e618e;
      height: 40px;
      width: 50px;
    }

    .carouselArrow:hover {
      fill: #0000cd;
    }
  }
}

.imgBtn {
  display: flex;
  gap: 30px;

  .iBtn {
    padding: 0.5em;
    border-radius: 50%;
    background-color: rgb(183, 183, 183);
    cursor: pointer;
  }
  .iBtn.active {
    background-color: #00a6ff;
  }
}

.designSkill {
  align-items: center;
  gap: 50px;
  background: #ffffffad;
  padding: 1em;
  border-radius: 10px;
  position: relative;
  .designSkillText > * {
    margin-bottom: 10px;
  }
  .designSkillText {
    max-width: calc(100% - 50%);

    .projectCardHead {
      font-size: x-large;
    }
  }
  img {
    border-radius: 5px;
    height: 250px;
    width: 500px;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {
    opacity: 0.6;
    right: -10px;
  }
  to {
    right: 0%;
    opacity: 1;
  }
}

.projectCard {
  width: 320px;
  background: linear-gradient(to right, #0076b675, #023d8a77);
  position: relative;
  border-radius: 10px;
  border: 1px solid whitesmoke;

  * {
    transition: 0.3s all ease-in;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 1;
  }

  .cardText {
    padding-left: 1em;
    position: absolute;
    top: 50%;
    opacity: 0;
    padding: 1em;
    transition: 0.3s ease-in all;
  }

  .cardText > .projectCardHead {
    font-size: x-large;
  }

  .btn {
    padding: 0.5em;
    background-color: #69a7bce9;
    color: initial;
    display: block;
    margin: 10px 0;
  }

  .text {
    color: #ffffff;
  }
}
.projectCard:hover {
  img {
    opacity: 0.3;
  }

  .cardText {
    opacity: 1;
  }
}

.projectCard:hover {
  img {
    opacity: 0.3;
  }

  .cardText {
    filter: none;
    opacity: 1;
  }
}

#projects {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 1em;
  flex-wrap: wrap;
}

/* WEB DEV PAGE */
/* .webAbout{
/* flex-direction: row-reverse; */

/* img{
  height: 300px;
} */

/* }  */

#webServices > .top {
  color: #000000;
  margin: 20px auto;
}

.webAboutText {
  font-size: larger;
  text-align: start;
  /* width: 80%; */
  margin: 10px auto;
}

.webService {
  justify-content: center;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.webCard {
  width: 300px;
  padding: 1em;
  border-radius: 10px;
  background-color: #ffffffaf;
  border: 1px solid #47494b;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */

  > div:first-child {
    display: flex;
    justify-content: center;
    /* align-items: center;
    flex-direction: column; */
  }

  * {
    margin-bottom: 10px;
  }
  transition: all 0.3s ease-in;
}
.webCard:hover {
  box-shadow: 0px 0px 10px 3px #586b7e;
}

.webServiceImg {
  border-radius: 50%;
  height: 100px;
}

.webServiceh2 {
  text-align: center;
  color: #000000;
  font-size: 2em;
}

.webServiceText {
  font-size: 1.09em;
  text-align: center;
}

/* Error 404 page */

#error > * {
  text-align: center;
}

#error > h2 {
  width: 70%;
  margin: 0.5em auto;
  font-size: large;
}
.img404 {
  width: 50%;
  margin: 1em auto;
  /* margin-top: 0; */
  height: 250px;
}

.errorBtn {
  margin-bottom: 1em;
}

.text404 {
  color: #000;
}

/* Schorlarship */

.scholarshipAbout {
  flex-direction: row-reverse;
}

.scholarshipAboutImg {
  height: 300px !important;
}

#scholarshipServices > .top {
  margin: 50px auto;
}

.service-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.scholarshipCard {
  width: 300px;
  overflow: hidden;
  background-color: rgb(243, 243, 243);
  border: 1px solid #8b8b8b6d;
  border-radius: 10px;
  transition: 0.2s all ease-in-out;
  height: fit-content;
}

.cardImg-container {
  overflow: hidden;
}

.cardImg {
  transition: 0.3s all linear;
}
.cardImg:hover {
  transform: scale(1.02);
}

.scholarshipCard:hover {
  box-shadow: 0px 0px 15px 5px rgba(36, 36, 36, 0.553);
}
.scholarshipCard:nth-child(2) {
  margin-top: 3em;
}
.scholarshipCard:nth-child(3) {
  margin-top: 6em;
}

.scholarTextContainer {
  padding: 1em;
  text-align: center;
}
.scholarCardHeader {
  margin: 10px auto;
  font-size: larger;
}
.scholarCardText {
  color: #000;
}

@media (min-width: 1280px) {
  .container {
    margin: auto;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 1000px) {
  .top {
    font-size: 19px;
  }

  .headerIMG {
    margin-right: -50px;
  }

  /* Contact */
  .touchWrap {
    width: 100%;
  }
}

@media (max-width: 800px) {
  /* nav bar */

  .navCon {
    display: flex;
    gap: 30px;
  }

  .nav-items {
    border-top: 1px solid #0040ff;
    flex-direction: column;
    position: fixed;
    right: -100%;
    top: 0px;
    padding: 1em 0.5em;
    background-color: #48cae4;
    height: 100%;
    width: 300px;
    transition: right 0.2s linear;
    align-items: baseline !important;

    .nav {
      margin-left: 50px;
    }
  }
  .nav {
    text-align: center;
  }

  .bars {
    display: block;
  }
  .show {
    right: 0;
    visibility: visible;
  }

  .nav-link {
    font-size: larger;
    font-weight: 500;
  }

  /* Hero */

  .header {
    overflow: hidden;
    align-items: center;
    margin-left: 1em;

    .top {
      font-size: medium;
    }
    .h1Text {
      font-size: xx-large;
    }

    .headerIMG {
      width: 400px;
      margin-right: -100px;
    }
  }
  /* Graphics */
  .design-container {
    align-items: end;
    div > .designH1 {
      font-size: 38px;
    }

    img {
      height: 400px;
      margin-right: -100px;
    }
  }

  .graphicAboutHeader {
    font-size: xx-large;
  }

  .graphicAboutText {
    width: 90%;
  }

  .carouselItem {
    width: 70%;

    .carouselArrow {
      height: 50px !important;
      width: initial !important;
    }
  }
  .designSkill {
    flex-direction: column;
    min-height: 560px;

    img {
      width: 100%;
    }

    .designSkillText {
      max-width: 100%;

      .text {
        margin: 20px auto;
      }
    }
  }
  .text {
    margin: 20px auto;
  }

  .cardText {
    top: calc(100% / 2.5) !important;
  }

  /* about section */
  .aboutText {
    font-size: initial;
    margin: 5px auto;
    width: 75%;
  }

  /* Services */

  #skill {
    justify-content: space-evenly;
  }

  .skills {
    width: 250px;
  }

  /* Reviews */

  #reviewWrapper {
    /* flex-direction: column; */
    flex-wrap: wrap;
  }

  .reviewCard {
    /* width: ; */
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;

    .revImgWrap {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }

  /* Footer */

  .footer {
    gap: 20px;
    padding: 2em 0;
  }

  @keyframes turn {
    0% {
      background-position: left;
    }
    50% {
      background-position: right;
      /* transform: rotate(10deg); */
    }
    100% {
      background-position: left;
      /* transform: rotate(-20deg); */
    }
  }

  .carouselArrow {
    display: none;
  }
  .iBtn {
    padding: 0.7em !important;
  }
}

@media (max-width: 650px) {
  .header {
    /* flex-direction: column;
    padding-left: 0;
    padding-top: 3em; */

    .h1Text {
      font-size: 24px;
    }
  }
  .contact-container {
    flex-direction: column;
    width: fit-content;
    margin: 1px auto;
    height: fit-content;

    .info:last-child {
      margin-bottom: 10px;
    }
  }
  section {
    right: 0 !important;
  }

  .touchWrap {
    grid-template-columns: 1fr;
    width: 100;
  }

  .contact-wrap > h1 {
    text-align: center;
  }

  .touch {
    flex-direction: column;
    gap: 30px;
    width: 100%;

    /* img[src="/images/customer.png"] {
      margin: 1px auto;
    } */
  }

  #staff > .h1Text {
    width: 100%;
  }

  .footer {
    font-size: medium;
    grid-template-columns: 1fr 1fr;
    justify-self: end;
    column-gap: calc(100% - 70%);
  }

  .design-container {
    flex-direction: row;
    padding-left: 0;
    padding-top: 1em;
    align-items: center;

    img {
      height: 300px;
      margin-right: 0;
    }

    div > * {
      text-align: left;
    }
  }

  .carouselItem {
    width: 100% !important;
  }

  /* Error 404 page */

  .errorText404 {
    width: 100%;
    font-size: large;
  }
  .img404 {
    width: 100%;
  }

  .scholarshipCard:nth-child(2),
  .scholarshipCard:nth-child(3) {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  .navBar {
    position: sticky;
    top: 0;
    background-color: #ade8f480;
    padding-top: 1em;
    padding-left: 0.5em;
    /* backdrop-filter: blur(12px); */
  }

  .logoContainer > h4 {
    font-size: medium;
  }

  .nav-link {
    font-size: larger;
  }

  .logo {
    padding-left: 10px;
  }

  .header {
    flex-direction: column;
    padding-left: 0;
    padding-top: 3em;

    .h1Text {
      font-size: 33px;
      text-align: center;
    }

    .top {
      font-size: medium;
      margin: 1px auto;
      font-weight: 500;
    }

    .head-container {
      text-align: center;
    }

    .headerIMG {
      margin-right: 0;
    }
  }

  .top {
    border: 2px solid #0096c7;
  }

  #about > * {
    margin-bottom: 20px;
  }
  .count {
    font-size: larger;
    border: 2px solid #0040ff;
  }
  .count::before,
  .contact::before {
    margin-right: 10px;
  }
  .count::after,
  .contact::after {
    margin-left: 10px;
  }

  .arrow {
    width: 60%;
    opacity: 0.5;
    z-index: -1;
    background-position: center;
  }

  .skills {
    width: 310px;
  }

  .contact-container {
    flex-direction: column;
    width: fit-content;
    margin: 1px auto;
    height: max-content;

    .info:last-child {
      margin-bottom: 10px;
    }
  }
  .contactForm {
    button.contact {
      width: 100%;
      margin: 0;
    }

    label {
      margin-bottom: 5px;
    }
  }

  .footer {
    grid-template-columns: 1fr;

    * {
      margin-bottom: 5px;
      justify-self: center;
      margin: auto;
      text-align: center;
    }
  }

  .design-container {
    flex-direction: column-reverse;
    align-items: center;

    img {
      height: 350px;
    }

    div > .designH1 {
      font-size: x-large !important;
    }
  }

  .design-container > div > * {
    text-align: center;
  }

  .graphicAboutHeader {
    font-size: x-large;
  }

  .webAboutText {
    font-size: large;
  }
}

@media (max-width: 400px) {
  .nav-items {
    width: 250px;
  }

  .contactHead {
    font-size: xx-large;
  }

  img[src="/images/customer.png"] {
    height: 300px;
    width: 350px;
  }

  .top {
    /* font-size: 5px; */
    text-align: center;
    letter-spacing: 1px;
  }

  .design-container > img {
    height: 250px;
    height: 250px;

    height: 250px;
  }

  .cardText {
    top: 30px !important;

    .projectCardHead {
      font-size: larger !important;
    }
  }
}
